// .page-header.scss

.page-header {
  @include clearfix;
  width: 100%;
  position: relative;
  margin-bottom: 3em;
  .utility-nav-group {
    width: 25em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .utility-nav {
    float: left;
  }
  .mcad-logo {
    float: right;
  }
  .main-nav {
    float: right;
  }
}
.page-header h1 a {
  text-decoration: none;
  color: $black;
}
