// variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors

$white: #fff;
$black: #333;
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #ff006e;
$color-social-hover: #ff00ff;

// Category colors

$blue: #40f7fd;
$green: #35e9a2;
$yellow: #dee436;
$pink: #cb0e7f;
$purple: #a72ebc;
$red: #ec2f27;
